<div class="modal fade" id="userDeleteDialog" tabindex="-1" role="dialog" aria-labelledby="userDeleteDialogLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userDeleteDialogLabel">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group fw-bold"
                         style="text-align: center">
                        <label for="user-id-delete" class="col-form-label">ID</label>
                        <input type="text" class="form-control" id="user-id-delete" disabled>
                    </div>
                    <div class="form-group fw-bold"
                         style="text-align: center">
                        <label for="user-name-delete" class="col-form-label">Username</label>
                        <input type="text" class="form-control" id="user-name-delete" disabled>
                    </div>
                    <div class="form-group fw-bold"
                         style="text-align: center">
                        <label for="user-password-delete" class="col-form-label">Password</label>
                        <input type="password" class="form-control" id="user-password-delete" disabled>
                    </div>
                    <div class="container login-form-field justify-content-center p-3"
                         style="text-align: center">
                        <label for="user-roles-delete" class="fw-bold">Roles: </label>
                        <select id="user-roles-delete"
                                multiple
                                th:object="${roles}"
                                th:field="${roles}"
                                class="form-control-sm"
                                style="width: 100%"
                                disabled>
                            <option th:each="role : ${roles}"
                                    th:value="${role.id}"
                                    th:text="${role.name}">
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="delete-user-button" type="button" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#userDeleteDialog').on('shown.bs.modal', function (event) {
        let button = $(event.relatedTarget)
        let userId = button.data('userid')
        if (userId) {
            $.get({
                url: '/api/' + userId,
                success: (data) => {
                    let modal = $(this)
                    modal.find('#user-id-delete').val(data.id)
                    modal.find('#user-name-delete').val(data.username)
                    modal.find('#user-password-delete').val(data.password)
                },
                error: (err) => {
                    alert(err);
                }
            });
        }
    })

    $('#delete-user-button').click(function () {
        let modal = $('#userDeleteDialog')
        let user = {};
        user.id = document.getElementById("user-id-delete").value;
        user.username = document.getElementById("user-name-delete").value;
        user.password = document.getElementById("user-password-delete").value;
        let roles = document.getElementById("user-roles-delete");
        let selectedRoles = [{"id":2,"name":"ROLE_USER","authority":""}];
        for (let i = 0; i < roles.options.length; i++) {
            if (roles.options[i].selected) {
                selectedRoles.push({
                    id: roles.options[i].value,
                    name: roles.options[i].text,
                    authority: ""
                });
            }
        }
        user.roles = selectedRoles;
        let jsonData = JSON.stringify(user);
        console.log(jsonData);
        let token = $("meta[name='_csrf']").attr("content");
        $.ajax({
            url: '/api/delete/' + user.id,
            type: 'DELETE',
            data: JSON.stringify(user),
            headers: {
                'X-CSRF-TOKEN': token
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: () => {
                location.reload()
            },
            error: (err) => {
                alert(err);
            }
        })
        modal.modal('hide');
    })
    ;
</script>