<title>Index</title>
<div th:replace="~{default/head :: head}"></div>
<div th:replace="~{default/header :: header}"></div>
<script src="https://ru.js.cx/test/libs.js"></script>
<script src="test.js"></script>

<form id="formElem">
    <input type="text" name="name" value="John">
    <input type="text" name="surname" value="Smith">
    <input type="submit">
</form>

<script>
    $('#userEditDialog').on('shown.bs.modal', function (event) {
        let button = $(event.relatedTarget);
        let userId = button.data('userid');
        if (userId) {
            fetch('/api/' + userId)
                .then(response => response.json())
                .then(data => {
                    let modal = $(this);
                    modal.find('#user-id').val(data.id);
                    modal.find('#user-name').val(data.username);
                    modal.find('#user-lastname').val(data.lastname);
                    modal.find('#user-age').val(data.age);
                    modal.find('#user-email').val(data.email);
                    modal.find('#user-password').val(data.password);
                });
        }
    });

    $('#save-user-button').click(function () {
        let modal = $('#userEditDialog');
        let user = {};
        user.id = document.getElementById("user-id").value;
        user.username = document.getElementById("user-name").value;
        user.lastname = document.getElementById("user-lastname").value;
        user.age = document.getElementById("user-age").value;
        user.email = document.getElementById("user-email").value;
        user.password = document.getElementById("user-password").value;
        let roles = document.getElementById("user-roles");
        let selectedRoles = [];
        for (let i = 0; i < roles.options.length; i++) {
            if (roles.options[i].selected) {
                selectedRoles.push({
                    id: roles.options[i].value,
                    name: roles.options[i].text,
                    authority: ""
                });
            }
        }
        user.roles = selectedRoles;
        let jsonData = JSON.stringify(user);
        console.log(jsonData);
        let token = $("meta[name='_csrf']").attr("content");
        fetch('/api', {
            method: 'POST',
            body: jsonData,
            headers: {
                'Content-Type': 'application/json',
                'X-CSRF-TOKEN': token
            }
        })
            .then(() => {
                location.reload();
            })
            .catch(error => {
                alert(error);
            });
        modal.modal('hide');
    });
</script>

<body>
<main class="container p-5 my-5 border justify-content-center">
    <h1>Welcome to Index PAGE!</h1>
</main>
<div th:replace="~{default/footer :: footer}"></div>
</body>